# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PYTHON\FLASH CARD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
